
:root {
    --primary-color: #353b48;
    --secondary-color: #f5f6fa;
    --dark-color: #000;
    --white-color: #fff;
    --orange : orange;
    --base-fontSize: 1rem;
    
}



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }


body{
    background-color: var(--dark-color);
    font-family: "Asap", sans-serif;
    /* color: var(--white-color); */
}

.container{
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}


.row{
    display: flex;
    
}

.col-12{
    width: 100%;
    padding: 0 15px;
}

.section{
    padding: 100px 0;
}

.header{
    display: flex;
    justify-content: space-between;
}

.pre-heading{
    color: var(--white-color);
    text-transform: capitalize;
    margin-bottom: 25px;
    font-size: 48px;
}

.header .icon{
    display: none;
    color: white;

}

.navbar ul{
    list-style: none;
    background-color: var(--secondary-color);
    display: flex;
}

.navbar ul li{
     /* border: 2px solid red;  */
     flex-grow: 1;
     /* text-align: center;  */
}

.navbar ul li a{
    text-decoration: none;
    display: block;
    color: var(--dark-color);
    padding: 20px;
    text-transform: capitalize;
    transition: all .3s linear;
}
.navbar ul li a:is(:link :visited){
    text-decoration: none;
}

.navbar ul li a:is(:hover, :active, :focus){
    background-color: var(--orange) ;
    color: var(--dark-color);
}


/* ////////////////////////////////////////////////////advance menu///////////////////////////////////////////////// */

.advancedMenu ul li a{
    display: flex;
}

.advancedMenu ul li a div:nth-child(2){
    flex-grow: 1;

}
.advancedMenu ul li a div:nth-child(2) h3{
    font-size: 24px;
    font-weight: bold;
}
.advancedMenu ul li a div:nth-child(2) p{
    font-style: italic;
}


@media (max-width : 600px){
    .navbar ul{
        flex-direction: column;
        width: 100%;
    }

    .header .icon{
        display: block;
        margin-top: 17px;
    }




    
}